JavaApplicationClienteSOAP/xml-resources/web-service-references/CalculSimple/wsdl/localhost_8080/MathWebService/CalculSimple.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bitraore.emiage.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bitraore.emiage.org/" name="CalculSimple">
<types>
<xsd:schema>
<xsd:import namespace="http://bitraore.emiage.org/" schemaLocation="http://localhost:8080/MathWebService/CalculSimple?xsd=1"/>
</xsd:schema>
</types>
<message name="decomposer">
<part name="parameters" element="tns:decomposer"/>
</message>
<message name="decomposerResponse">
<part name="parameters" element="tns:decomposerResponse"/>
</message>
<message name="premier">
<part name="parameters" element="tns:premier"/>
</message>
<message name="premierResponse">
<part name="parameters" element="tns:premierResponse"/>
</message>
<message name="additionner">
<part name="parameters" element="tns:additionner"/>
</message>
<message name="additionnerResponse">
<part name="parameters" element="tns:additionnerResponse"/>
</message>
<portType name="CalculSimple">
<operation name="decomposer">
<input wsam:Action="http://bitraore.emiage.org/CalculSimple/decomposerRequest" message="tns:decomposer"/>
<output wsam:Action="http://bitraore.emiage.org/CalculSimple/decomposerResponse" message="tns:decomposerResponse"/>
</operation>
<operation name="premier">
<input wsam:Action="http://bitraore.emiage.org/CalculSimple/premierRequest" message="tns:premier"/>
<output wsam:Action="http://bitraore.emiage.org/CalculSimple/premierResponse" message="tns:premierResponse"/>
</operation>
<operation name="additionner">
<input wsam:Action="http://bitraore.emiage.org/CalculSimple/additionnerRequest" message="tns:additionner"/>
<output wsam:Action="http://bitraore.emiage.org/CalculSimple/additionnerResponse" message="tns:additionnerResponse"/>
</operation>
</portType>
<binding name="CalculSimplePortBinding" type="tns:CalculSimple">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decomposer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="additionner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculSimple">
<port name="CalculSimplePort" binding="tns:CalculSimplePortBinding">
<soap:address location="http://localhost:8080/MathWebService/CalculSimple"/>
</port>
</service>
</definitions>